.form-widgets-demo {
  .el-upload-list__item {
    width: 105px !important;
    height: 105px !important;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px 8px 0;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    img {
      width: 86px;
      height: 86px;
    }
    .el-upload__item-actions {
      position: absolute;
      width: 86%;
      height: 86%;
      left: 7px;
      top: 7px;
      cursor: default;
      text-align: center;
      color: #fff;
      opacity: 0;
      font-size: 20px;
      background-color: rgba(0,0,0,.5);
      transition: opacity .3s;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;
  
      &:hover {
        opacity: 1;
      }
    }
  }
}
.form-widgets-custom-label__wrap {
  margin-left: -7px;
}
.form-widgets-custom-label__text {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #333;
}



