.switch-custom {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;

  & input {
    display: none;
  }
}

.slider-custom {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  &.round {
    border-radius: 34px;
  }
  &.round:before {
    border-radius: 50%;
  }
}

input:checked + .slider-custom {
  background-color: #2196f3;
}

input:focus + .slider-custom {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider-custom:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}